.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #a0aec0 #f7fafc;
}
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  background: #f7fafc;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #a0aec0;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f7fafc;
  border-radius: 4px;
}
